body {background-color:#f7dfce ;}
h1 {color:#33cc99; text-align: center; text-shadow: #006633 0 0 2px; font: 2em Arial, sans-serif;} 
#bu {color:#ffcc33; background-color: #6633cc; border-image: url();}
#but {background-color: #330099; color: white;}
#buto {background-color: #009966; color: white;}
#b, #k {background-color: #7aa9d8; color: #27274d;}
#c, #a {background-color: #d5b1f8; color: #250049;}
#d, #f {background-color: #b0e2c9; color: #005028;}
#g, #h {background-color: #fadea7; color: #744d00;}
table, td, th {
	border: 2px solid black;
    text-align: left;
    margin: 2px auto;
    float: right;}

dt, p{
    font-weight: 600;
}
th {
    text-align: center;
}
table{
    width: 100%;
}
h6 {text-align: right;}
.wrap {
border: 1px solid #d5b1f8;
width: 80%;
height: 700px;
margin: auto;
background-color:#d8eafc ;
}
.card {
    border: 2px solid #b0e2c9 ;
    width: 300px;
    height: 300px;
    float: left;
    margin: auto;
    border-radius: 20px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    }
img{
width: 200px;
margin: auto;
display: block;
}
h5 {
color: darkblue;
}
.du
{
	list-style: none;
	display: none;
    float:top;
}
.su{
	display: block;
	text-decoration: none;
	color: black;
	background:lightgray;
	font-family: 'Pacifico', cursive;
	border: 1px solid yellow;
    padding: 15px;
}
.su .du {
    list-style: none;
	width: 180px;
	float: top;
}
.su .du {
	display: none;
}
.su:hover .du{
	display: block;
    position: absolute;
	margin-left: -40px; 
}
.ku:hover{
	color: green;
	background:lightblue;
}
.menu {
    position: sticky;
}