ul:nth-child(2)
{
	list-style: none;
	display: none;
    float:top;	
    position: relative;		
}
a {
    display: block;
	text-decoration: none;
	color: black;
	background:rgb(231, 204, 204);
	border: 1px solid yellow;
    padding: 15px;
}
li {
	list-style: none;
    width: 180px;
}
li ul {
    display: none;
}
li:hover ul{
	display: block;
	position: absolute;
	margin-top: -55px;
	margin-left: 140px; 
}
a:hover{
	color: rgb(61, 88, 243);
	background:rgb(229, 230, 173);
}